 <!-- This HTML will be load by loing page to inform user about cookie and RGPD directive  -->
    <div id="rgpdInsert" class="w-full  lg:p-6 p-2">  <!-- fixed top-0 bottom-0 -->

        <div class="flex flex-wrap flex-col lg:flex-row w-full bg-white hover:bg-gray-200  border-2 border-black md:rounded-full shadow-2xl justify-center ">

            <div class="flex flex-row  mt-5 md:mx-5 lg:w-4/6 justify-center ">

                    <div class="flex sm:flex-wrap md:flex-no-wrap flex-col md:flex-row items-center justify-center">

                        <!-- Cookie image-->
                        <div class="flex w-1/6  p-2  items-center justify-center">
                            <img src="./ressources/autre/img/cookie.png" alt="cookies" class="object-contain">
                        </div>

                        <!-- Information text -->
                        <div class="flex w-4/6  sm:w-full mr-6">

                            <div class="font-mono w-full p-2 text-center text-sm sm:text-lg lg:text-2x  sm:p-5 flex items-center justify-center" >
                                En poursuivant votre navigation sur l'intranet du CESI,  vous acceptez l’utilisation de Cookies.
                            </div>

                        </div>
                    </div>

             </div>

            <div class="flex flex-wrap  sm:flex-row justify-center lg:w-1/6 w-full">

                <!-- Accept button to accept cookies -->
                <div class="flex w-auto  lg:w-full  justify-center p-2 m-1">

                    <button id="btnAccept" class="font-mono bg-transparent hover:bg-orange-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-900 hover:border-transparent rounded shadow-2xl w-full">
                         Accepter
                    </button>

                </div>

                <!-- Refuse button to refuse cookies -->
                <div class="flex justify-center w-auto lg:w-full p-2 m-1">

                   <button id="btnRefuse" class="font-mono bg-transparent hover:bg-orange-500  text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded shadow-2xl w-full">
                       Refuser
                   </button>

                </div>

                <!-- More information button to get more information about cookie and RGPD consign -->
                <div class="font-mono flex justify-center w-auto lg:w-full p-2  m-1">

                     <button id="btnMoreInformation" class="bg-transparent hover:bg-orange-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded shadow-2xl w-full">
                                Plus d'informations
                       </button>

                </div>

            </div>

        </div>

    </div>


